<span th:fragment="create-a-spot">
<form th:action="@{/spots/create}" th:object="${spot}" method="POST" >
    <div class="justify-content-center">
        <h2>Create A Spot</h2><br>
        <div sec:authorize="isAuthenticated()">
            <div class="form-group">
                <button type="button" class="btn btn-info" onclick="getCurrentLocation()">Get my current location</button><br><br>
                <label for="address">Address or place:</label><br>
                <textarea style="resize: none" rows="3" id="address" class="form-control" name="address" type="text"></textarea><br>
                <label for="title">Name this spot:</label><br>
                <input id="title" class="form-control" name="title" type="text" th:field="${spot.title}"/><br>
                <label for="description">Describe your spot:</label><br>
                <textarea style="resize: none" rows="4" id="description" class="form-control" name="description" th:field="${spot.description}"></textarea><br>
                <label for="tags">Tags:<br>(Separate with commas)</label><br>
                <textarea style="resize: none" rows="4" id="tags" class="form-control" name="description" th:field="${spot.tags}"></textarea><br>

                <!--                Hidden lat and lng-->
                <input id="latitude" name="latitude" type="hidden" th:field="${spot.latitude}"/>
                <input id="longitude" name="longitude" type="hidden" th:field="${spot.longitude}"/>
                <!--                -------------------->
                <button onclick="openFilePicker()" type="button">Upload Photos</button>
                <form th:action="@{/spots/create}" method="post" th:object="${spot}" >
                    <input type="hidden" name="id" th:field="${spot.id}">
                    <input id="spot-photo-input" type="hidden" name="spotPhotoURL" th:field="${spot.spotPhotoURL}">
                    <img id="spot-photo" th:src="${spot.spotPhotoURL}" alt="No Spot Photos" width="50px" height="50px">
                    <br>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
        <div sec:authorize="isAnonymous()">
            <form th:action="@{/login}">
                <button class="btn btn-secondary" type="submit">Login</button>
            </form>
            <br>or<br>
            <form th:action="@{/register}">
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
    <!--basic form for submitting a spot and saving it to the database... more needs to be added-->
</form>
</span>