<span th:fragment="individual-spot">
    <style>
        #spot-actions {
            display: flex;
            gap: 16px;
        }
    </style>
<!--<form th:action="@{/spots/create}" th:object="${spot}" method="POST" >-->
    <div id="individual-spot-view" class="justify-content-center">
        <h2 id="spot-title"></h2>
        <div id="spot-description"></div>
        <div id="spot-tags"></div>
        <h2>Events:</h2>
        <div id="spot-events"></div>
        <h3 sec:authorize="isAnonymous()">Login or Register to save spots and schedule events!</h3>
        <div th:replace="partials/login-register.html" sec:authorize="isAnonymous()">
        </div>
        <div id="spot-actions" sec:authorize="isAuthenticated()">
            <a id="spot-schedule-event-button" class="btn btn-primary">Schedule Event</a>
            <a id="spot-save-button" uk-icon="heart" title="Favorite this spot"></a>
        </div>
    </div>
    <!--basic form for submitting a spot and saving it to the database... more needs to be added-->
<!--</form>-->
</span>