<nav class="mb-1 col-12" th:fragment="navbar" style="box-shadow: 0 3px 7px -3px rgba(0,0,0,.15);">
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">IKnowASpot</a> |
                <a th:href="@{/spots}">Spots</a> |
                <a th:href="@{/events}">Events</a> |
                <a th:href="@{/aboutus}">About Us</a> |
            </div>
            <div class="nav navbar-nav navbar-right">
                <!--                Logged out user-->
                <div sec:authorize="isAnonymous()">
                    <div>
                        <a th:href="@{/login}">Login</a> |
                        <a th:href="@{/register}">Register</a>
                    </div>
                </div>
                <!--                Logged in User-->
                <div sec:authorize="isAuthenticated()">
                    <div class="dropleft">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                            <span th:text="${#authentication.principal.username}"></span>
                        </button>
                        <div class="dropdown-menu position-absolute" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" th:href="@{/profile}">View Profile</a>
                            <form th:action="@{/logout}" th:method="post">
                                <button class="dropdown-item">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
