<div th:fragment="welcome-to-iknowaspot">
    <h1>Welcome to</h1>
    <img th:src="@{images/iknowaspotlogo.png}" alt="I Know A Spot Logo">
    <h2>
        Click on a map marker to view the details.
    </h2>
    <h4 class="font-weight-bold">or</h4><br>
    <div sec:authorize="isAuthenticated()">
        <button class="btn btn-primary" onclick="showCreateASpotViewLoggedIn()">Create A Spot</button>
    </div>
    <div sec:authorize="isAnonymous()">
        <button style="width: 50%" class="btn-lg btn-primary" onclick="showCreateASpotViewNotLoggedIn()">Create A Spot</button>
    </div>
</div>