<div th:fragment="welcome-to-iknowaspot">
    <p style="font-size: 4vw" class="m-1">Welcome to</p>
    <img style="width: 80%" class="m-1" th:src="@{images/iknowaspotlogo.png}" alt="I Know A Spot Logo">
    <p style="font-size: 2vw" class="m-1">
        Click on a map marker to view the details.
    </p>
    <p style="font-size: 2vw" class="font-weight-bold m-2">or</p>
    <div sec:authorize="isAuthenticated()">
        <button style="font-size: 2vw; width: 80%" class="btn btn-primary" onclick="showCreateASpotViewLoggedIn()">Create A Spot</button>
    </div>
    <div sec:authorize="isAnonymous()">
        <button style="font-size: 2vw; width: 80%" class="btn-lg btn-primary" onclick="showCreateASpotViewNotLoggedIn()">Create A Spot</button>
    </div>
</div>