#map{
    height: 100%;
}
.page-container {
    display: grid;
    /*Navbar takes up minimum space and the rest of the page takes up as much space as it can*/
    grid-template-rows: min-content 1fr;
    /*Body takes up full height of viewport*/
    height: 100vh;
}
.form-control:focus{
    border-color:#CCC;
    outline:0;
    /*-webkit-box-shadow:none;*/
    /*box-shadow:none;*/
}
.card-col{
    height: 100%;
    /*overflow-y: auto;*/
}
.inside-card-col{
    height: 100%;
    overflow-y: auto;
}
.centered {
    display: flex;
    justify-content: center;
}
.card{
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#main-view {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 100%;
}
#spot-save-button{
    color: gray;
    font-size: 30px;
    text-decoration: none;
}
#map {
    -webkit-animation: fadeIn linear .75s;
    -moz-animation: fadeIn linear .75s;
    -o-animation: fadeIn linear .75s;
}
.card{
    animation: .5s slide-up;
    margin-top: 0%;
}
@keyframes slide-up {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
    }
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.geocoder {
    position: absolute;
    top: 10px;
}
.mapboxgl-ctrl{
    width: 100% !important;
}
.icon-image{}
.action-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #007BFF;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}