.everything-container{
    height: 90vh;
}

#map{
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000000;
}
.form-control:focus{
    border-color:#CCC;
    outline:0;
    /*-webkit-box-shadow:none;*/
    /*box-shadow:none;*/
}
.card-col{
    height: 100%;
    /*overflow-y: auto;*/
}
.inside-card-col{
    height: 100%;
    overflow-y: auto;
}
.centered {
    display: flex;
    justify-content: center;
}
.card{
    border-radius: 10px;
    box-shadow: 2px 3px 5px black;
}
#map {
    -webkit-animation: fadeIn linear .75s;
    -moz-animation: fadeIn linear .75s;
    -o-animation: fadeIn linear .75s;
}
.card{
    animation: .5s slide-up;
    margin-top: 0%;
}
@keyframes slide-up {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
    }
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.geocoder {
    position: absolute;
    top: 10px;
}
.mapboxgl-ctrl{
    width: 100% !important;
}
.icon-image{}