
.splash {
  z-index: 1000;
  font-family: Poppins;
  flex-direction: column;
  text-align: center;
  font-size: 18pt;
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
}
img{
  max-height: 50vh;
  height: 100%; !important;
  width: 100%;
  object-fit: cover;
}

.splash .header {
  /*width: 100%;*/
  display: flex;
  justify-content: flex-end;
}

/*h4 {*/
/*  margin: 20px;*/
/*}*/
