<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Spots</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />
    <div th:replace="partials/uikit-header.html"></div>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body class="container-fluid">

<nav th:replace="partials/navbar.html :: navbar"></nav>

<fancy header><h2>Local Spots</h2></fancy>
<div th:replace="partials/search-bar.html"></div>


<div th:replace="partials/search-results.html"></div>






</body>
</html>