<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>

<script src="https://kit.fontawesome.com/968ac4e7b1.js" crossorigin="anonymous"></script>
<div class="container">
    <div class="row">

        <div class="col-12">
            <h2 class="meet-developers">Meet the Developers</h2>

        </div>

        <div id="Shelby" class="col-lg-4 col-md-4 developer-div">
            <h3 class="developers">Shelby Davis</h3>
            <form class="d-flex row-1 my-2 creator-trio">
                <a class="creator-icon" href="https://www.linkedin.com/in/shelby-davis-web-dev/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a class="creator-icon" href="https://github.com/sh3lbsd" target="_blank"><i class="fab fa-github-square"></i></a>
            </form>
        </div>
        <div id="Albert" class="col-lg-4 col-md-4 developer-div">
            <h3 class="developers">Albert Dominguez</h3>
            <form class="d-flex row-1 my-2 creator-trio">
                <a class="creator-icon" href="https://www.linkedin.com/in/albert-dominguez/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a class="creator-icon" href="https://github.com/CozyLaptop" target="_blank"><i class="fab fa-github-square"></i></a>
            </form>
        </div>
        <div id="Kristen" class="col-lg-4 col-md-4 developer-div">
            <h3 class="developers">Kristen Wilson</h3>
            <form class="d-flex row-1 my-2 creator-trio">
                <a class="creator-icon" href="https://www.linkedin.com/in/kristen-wilson614/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a class="creator-icon" href="https://github.com/Wils-Kris5" target="_blank"><i class="fab fa-github-square"></i></a>
            </form>
        </div>

        <div id="Ignacio" class="col-lg-4 col-md-4 developer-div">
            <h3 class="developers">Ignacio Mares</h3>
                <form class="d-flex row-1 my-2 creator-trio">
                    <a class="creator-icon" href="https://www.linkedin.com/in/ignaciomares/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="creator-icon" href="https://github.com/I-MNacho" target="_blank"><i class="fab fa-github-square"></i></a>
                </form>
        </div>
    </div>
</div>


</body>
</html>