<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="partials/bootstrap-header.html"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/968ac4e7b1.js" crossorigin="anonymous"></script>
</head>

<nav th:replace="partials/navbar.html :: navbar"></nav>

<body>

<div class="text-center">
    <h3 class="ml-3 mb-3 mt-3">Get To Know The Team</h3>
</div>
<style>
.card-container {
    display: grid;
    gap: 16px;
    padding: 12px;
    /*Try to take up as much space as possible up to 450px*/
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /*Rows only fill as much space as they need*/
    overflow: auto;
}
</style>

<div class="card-container">
    <div class="card row ml-2 mr-2 text-center">
        <img src="/images/Albert.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="m-0">Albert Dominguez</h3>
            <div class="d-flex justify-content-center">
                <a style="font-size: 2rem" class="creator-icon ml-2 mr-2" href="https://www.linkedin.com/in/albert-dominguez/"
                   target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a style="font-size: 2rem" class="creator-icon ml-2 mr-2" href="https://github.com/CozyLaptop"
                   target="_blank">
                    <i style="color: black;" class="fab fa-github-square"></i>
                </a>
            </div>
                <p>
                    Full Stack Developer with experience in front-end languages, as well as back-end languages such as
                    Java, C#, Spring MVC, and MySQL. I am looking forward to leveraging my fast-learning capabilities,
                    critical thinking, and problem solving skills to create secure, fast, easy-to-read, and efficient
                    code. Past experience includes customer service, management, and sales.
                </p>
        </div>
    </div>
    <div class="card row ml-2 mr-2 text-center">
        <img src="/images/Ignacio_Mares_photo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="m-0">Ignacio Mares</h3>
            <div class="d-flex justify-content-center">
                <a style="font-size: 2rem" class="creator-icon ml-2 mr-2" href="https://www.linkedin.com/in/ignaciomares/"
                   target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a style="font-size: 2rem" class="creator-icon ml-2 mr-2" href="https://github.com/I-MNacho"
                   target="_blank">
                    <i style="color: black;" class="fab fa-github-square"></i>
                </a>
            </div>
            <p>
                Passionate Full-Stack Software Developer and former Sales Manager with experience in conflict
                resolution, leadership, communication, teamwork, client side resolution and planning. Experienced
                manager and team-lead with strong organizational and people skills. My natural curiosity to learn
                and detail-oriented nature has given me appreciation for technology and has inspired the transition
                into full-time web and software development.
            </p>
        </div>
    </div>
    <div class="card row ml-2 mr-2 text-center">
        <img src="/images/kristen.jpg" style="object-fit: cover" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="m-0">Kristen Wilson</h3>
            <div class="d-flex justify-content-center">
                <a style="font-size: 2rem" class="creator-icon ml-2 mr-2" href="https://www.linkedin.com/in/kristen-wilson614/"
                   target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a style="font-size: 2rem" class="creator-icon ml-2 mr-2" href="https://github.com/Wils-Kris5"
                   target="_blank">
                    <i style="color: black;" class="fab fa-github-square"></i>
                </a>
            </div>
            <p>
                Aspiring programmer looking to prove her coding and software design skills through an entry-level
                position that can offer her career growth support. The desire to have a career in creativity and
                problem-solving that provides growth and mobility led to a focus in web development. Eager and
                motivated to apply her expertise in Java.
            </p>
        </div>
    </div>
    <div class="card row ml-2 mr-2 text-center">
        <img src="/images/Shelby.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="m-0">Shelby Davis</h3>
            <div class="d-flex justify-content-center">
                <a style="font-size: 2rem" class="creator-icon ml-2 mr-2" href="https://www.linkedin.com/in/shelby-davis-web-dev/"
                   target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a style="font-size: 2rem" class="creator-icon ml-2 mr-2" href="https://github.com/sh3lbsd"
                   target="_blank">
                    <i style="color: black;" class="fab fa-github-square"></i>
                </a>
            </div>
            <p>
                Inquisitive Software Developer with a degree in communication and experience in public relations. My
                marketing background helped to develop me as a communicator, advocate, and critical thinker. As the
                industry shifted due to the pandemic, my personal network helped me to discover how I could leverage
                my creative talents as a web developer. Looking to leverage my technical and creative skills to
                create dynamic websites that drive traffic and engagement.
            </p>
        </div>
    </div>
</div>

<div th:replace="partials/bootstrap-footer.html"></div>

</body>
</html>