<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome to IKnowASpot!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />
    <div th:replace="partials/uikit-header.html"></div>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body class="container-fluid">
<nav th:replace="partials/navbar.html :: navbar"></nav>

<div class="row no-gutters everything-container">
<!--    <div th:replace="partials/splash.html"></div>-->
    <div class="col-7">
        <div class="ml-2 mt-2 input-group" style="position: absolute; z-index: 2; width: 95%">
            <input class="form-control" id="searchBarHome" name="searchBarHome" type="search" placeholder="Search for spots">
            <span class="input-group-append">
            <button type="button" class="btn btn-primary" id="searchButton" onclick="updateMapWithSearchSpots()">Search</button>
            </span>
<!--            <button type="button" class="btn btn-secondary" onclick="resetMap()">Reset</button>-->
        </div>
<!--        <div id="geocoder" class="geocoder col-12"></div>-->
        <div style="z-index: 1" id="map" class="m-1"></div>
    </div>
    <div class="col-5 no-gutters card-col align-items-center">
<!--        <div class="card mt-1 mb-2 ml-2 mr-2 pl-3 pr-3 text-white bg-info text-center">-->
<!--    </div>-->
        <div class="card inside-card-col mt-1 ml-2 mr-2 p-3 text-center" id="main-view">
<!--            The welcome partial will be displayed by default-->
            <span id="welcome"style="display: block">
                <span th:replace="partials/welcome-to-iknowaspot.html :: welcome-to-iknowaspot" style="display: block"></span>
            </span>
<!--            The create-a-spot partial will be displayed-->
            <span id="create-a-spot"style="display: none">
                <span th:replace="partials/create-a-spot.html :: create-a-spot"></span>
            </span>
            <span id="individual-spot"style="display: none">
                <span th:replace="partials/individual-spot.html :: individual-spot"></span>
            </span>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script><script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />
<script src="/keys.js"></script>
<script src="/js/weather_map.js"></script>
<script src="/js/image-upload.js"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">
<!--    Create spots object from thymeleaf spot model-->
const spots = [[${spots}]];
const events = [[${events}]];
const userId = [[${userId}]];
const userSpots = [[${userSpots}]];
const userSavedSpots = [[${userSavedSpots}]]
var individualSpotPopup;
console.log("All spots: ")
console.log(spots);
console.log("User's saved spots: ")
console.log(userSavedSpots)
// console.log("User spots are: ");
// console.log(userSpots);
// console.log("User Id is: " + userId)

var spotsGeoJson = [];
//Function for creating map data with the Thymeleaf spot model
function updateMap(spots) {
    spots.forEach(spot=> {
       spotsGeoJson.push({
           type: "Feature",
           properties: {
               spot_id: spot.id,
               title: spot.title,
               description: spot.description,
               photo: spot.profilePhotoURL,
               tags: spot.tags,
               photoUrl: spot.spotPhotoURL
           },
           geometry: {
               type: "Point",
               coordinates: [spot.longitude, spot.latitude]
           }
       })
    });
}
updateMap(spots);
//Functions for updating map data with search value
var searchBarHome = document.getElementById("searchBarHome");
//This is for enter presses for incompatible browsers
searchBarHome.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("searchButton").click();
    }
});
//Will update every time a letter is typed
//This will also reset the map if the X button is pressed on search bar
$("#searchBarHome").on("input", updateMapWithSearchSpots);
//Update map spots function
function updateMapWithSearchSpots(){
    spotsGeoJson = [];
    var searchValue = searchBarHome.value.toLowerCase();
    spots.forEach(spot=> {
        if (spot.title.toLowerCase().includes(searchValue)||spot.tags.toLowerCase().includes(searchValue)||spot.description.toLowerCase().includes(searchValue)){
            spotsGeoJson.push(JSON.parse('{"type": "Feature", ' +
                '"properties": { "spot_id": "'+spot.id+'", "title" : "'+spot.title+'", "description" : "'+spot.description+'", "tags" : "'+spot.tags+'", "photoUrl" : "'+spot.spotPhotoURL+'"},' +
                '"geometry": {"type": "Point", "coordinates": ['+spot.longitude+','+ spot.latitude+']}}'));
        }
    });
    //Removes layer with current spots and replaces them with new spots
    map.removeLayer("spots");
    map.removeSource("spots")
    map.addSource("spots", {
        "type": "geojson",
        "data": {
            "type": "FeatureCollection",
            "features": spotsGeoJson
        }
    })
    map.addLayer({
        'id': 'spots',
        'type': 'symbol',
        'source': 'spots',
        'layout': {
            'icon-image': 'custom-marker', // reference the image
            'icon-size': 0.15,
            'icon-allow-overlap': true
        }
    });
}
//Function for closing the right-side view and bringing back the welcome page
function showWelcomePage(){
    //Deletes the createASpotMarker and individualSpotMarker if it exists
    try{
    createASpotMarker.remove();
    individualSpotPopup.remove();
    } catch (e){}
    document.getElementById("welcome").style.display = "block";
    document.getElementById("create-a-spot").style.display = "none";
    document.getElementById("individual-spot").style.display = "none";
}
map.on('load', function() {
    map.loadImage(
        '/images/blue-pin-icon.png',
        (error, image) => {
            if (error) throw error;
            map.addImage('custom-marker', image);
            map.addSource("spots", {
                "type": "geojson",
                "data": {
                    "type": "FeatureCollection",
                    "features": spotsGeoJson
                }
            })
            console.log(spotsGeoJson)
            map.addLayer({
                'id': 'spots',
                'type': 'symbol',
                'source': 'spots',
                'layout': {
                    'icon-image': 'custom-marker', // reference the image
                    'icon-size': 0.15,
                    'icon-allow-overlap': true
                }
            })
        });
});
//    Changes mouse to pointer when hovering over a spot
map.on('mouseenter', 'spots', function () {
    map.getCanvas().style.cursor = 'pointer';
});
//     Change it back when it leaves.
map.on('mouseleave', 'spots', function () {
    map.getCanvas().style.cursor = '';
});

//When clicking a spot, it will change the right-side view to view all the details
map.on('click', 'spots', (e) => {
// Copy details of the spot that was clicked on
    const coordinates = e.features[0].geometry.coordinates.slice();
    const title = e.features[0].properties.title;
    const description = e.features[0].properties.description;
// Ensure that if the map is zoomed out such that multiple
// copies of the feature are visible, the popup appears
// over the copy being pointed to.
    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
    }
    //Show a popup
    individualSpotPopup = new mapboxgl.Popup()
        .setLngLat(coordinates)
        .setHTML(`<h5 class="m-2">${title}</h5>`)
        .addTo(map);
    showIndividualSpotView(e);
});
//Shows individual spot view on spot marker click
function showIndividualSpotView(e){
    document.getElementById("welcome").style.display = "none";
    document.getElementById("create-a-spot").style.display = "none";
    document.getElementById("individual-spot").style.display = "block";
    // Set data in spot view for spot
    const {spot_id, title, description, tags, photoUrl} = e.features[0].properties;
    try{
        if (seeIfUserMadeSpot(spot_id)){
            document.getElementById("youCreatedThisSpot").style.display = "block";
        } else document.getElementById("youCreatedThisSpot").style.display = "none";
        if (seeIfUserSavedSpot(spot_id)){
            // document.getElementById("spot-save-button").innerText = `&hearts;`
            document.getElementById("spot-save-button").style.color = "red";
        } else{
            // document.getElementById("spot-save-button").innerText = `&#9825;`
            document.getElementById("spot-save-button").style.color = "gray";}
    } catch (e){
    //    Will catch the error if user is not logged in
    }

    console.log(e.features[0].properties)
    document.getElementById("spot-title").innerText = title;
    document.getElementById("spot-description").innerText = description;
    document.getElementById("spot-tags").innerText = "Tags: " + tags;
    document.getElementById("individual-spot-photo").innerHTML = `<img width="50%" src="${photoUrl}">`;
    document.getElementById("spot-events").innerHTML = getEventsFromSpotId(spot_id);
    try{
        document.getElementById("spot-schedule-event-button").href = `events/create/${spot_id}`;
    } catch{
        console.log("Cannot create spot_id if not logged in")
    }
}
function seeIfUserMadeSpot(spot_id){
    var userMadeSpot = false;
    userSpots.forEach(userSpot=>{
        if (spot_id.toString() === userSpot.id.toString()){
            userMadeSpot = true;
        }
    })
    return userMadeSpot;
}
function seeIfUserSavedSpot(spot_id){
    var userSavedSpot = false;
    userSavedSpots.forEach(savedSpot=>{
        if (spot_id.toString() === savedSpot.id.toString()){
            userSavedSpot = true;
        }
    });
    return userSavedSpot;
}
//Gets spot events on spot marker click
function getEventsFromSpotId(spot_id){
    var foundEvents = "";
    events.forEach(event=>{
       if (parseInt(event.spot.id) === parseInt(spot_id)){
           foundEvents += (event.title + "<br>" + event.description + "<br><hr>");
       }
    });
    if (foundEvents === ""){
        return "No events found<br><hr>"
    }
    return foundEvents;
}
//When click on create a spot button, show the view for create a spot and disable other views
function showCreateASpotViewLoggedIn(){
    document.getElementById("welcome").style.display = "none";
    document.getElementById("create-a-spot").style.display = "block";
    document.getElementById("individual-spot").style.display = "none";
    const center = map.getCenter();
    createASpotMarker.setLngLat([
        center.lng,
        center.lat
    ]).addTo(map);
    reverseGeocodeFromCreateASpotButton(center, MapboxAPIKey);
}
function reverseGeocodeFromCreateASpotButton(center, token) {
    var baseUrl = 'https://api.mapbox.com';
    var endPoint = '/geocoding/v5/mapbox.places/';
    fetch(baseUrl + endPoint + center.lng + "," + center.lat + '.json' + "?" + 'access_token=' + token)
        .then(res=>{res.json().then(res=>{
            addressSearchBar.value = (res.features[0].place_name);
            latitude.value = res.features[0].center[1];
            longitude.value = res.features[0].center[0];
        })
        })
}
//Wont add the marker to the map if not logged in
function showCreateASpotViewNotLoggedIn(){
    document.getElementById("welcome").style.display = "none";
    document.getElementById("create-a-spot").style.display = "block";
    document.getElementById("individual-spot").style.display = "none";
}
//Create invisible create a spot marker
var createASpotMarker = new mapboxgl.Marker({
    color: "#000000",
    draggable: true,
})
var addressSearchBar = document.getElementById("address");
var latitude = document.getElementById("latitude");
var longitude = document.getElementById("longitude");
//When typing into create a spot bar, will place a pin on the first location
try {
    addressSearchBar.addEventListener('keyup', getValueFromSearchBar);
} catch (e){
    console.log(e);
}
function getValueFromSearchBar(){
    geocode(addressSearchBar.value);
}
function geocode(search) {
    var baseUrl = 'https://api.mapbox.com';
    var endPoint = '/geocoding/v5/mapbox.places/';
    fetch(baseUrl + endPoint + encodeURI(search) + '.json' + "?" + 'access_token=' + MapboxAPIKey).then(response=> { response.json()
        .then(res => {
            var searchLongitude = res.features[0].center[0];
            var searchLatitude = res.features[0].center[1];
            createASpotMarker.setLngLat([
                searchLongitude,
                searchLatitude
            ]).addTo(map)
            map.setCenter([
                searchLongitude,
                searchLatitude
            ])
            longitude.value = createASpotMarker.getLngLat().lng;
            latitude.value = createASpotMarker.getLngLat().lat;
        })
    })
}
//You can drop the marker, and the address bar will change
createASpotMarker.on('dragend', function() {
    const coord = {
        lat: createASpotMarker.getLngLat().lat,
        lng: createASpotMarker.getLngLat().lng
    };
    reverseGeocode(coord, MapboxAPIKey).then(function (data){
        console.log(data)
        addressSearchBar.value = (data.features[0].place_name);
        latitude.value = createASpotMarker.getLngLat().lat;
        longitude.value = createASpotMarker.getLngLat().lng;
    });
});
function reverseGeocode(coordinates, token) {
    var baseUrl = 'https://api.mapbox.com';
    var endPoint = '/geocoding/v5/mapbox.places/';
    return fetch(baseUrl + endPoint + coordinates.lng + "," + coordinates.lat + '.json' + "?" + 'access_token=' + token)
        .then(function(res) {
            return res.json();
        })
}
function getCurrentLocation(){
    document.getElementById("geolocationLoading").style.display = "inline-block";
    navigator.geolocation.getCurrentPosition((position) => {
        var coord = {lat: position.coords.latitude, lng: position.coords.longitude};
        document.getElementById("geolocationLoading").style.display = "none";
        reverseGeocode(coord, MapboxAPIKey).then(function (data){
            addressSearchBar.value = (data.features[0].place_name);
        });
        createASpotMarker.setLngLat(coord).addTo(map)
        map.setCenter(coord)
        map.setZoom(17);
        latitude.value = createASpotMarker.getLngLat().lat;
        longitude.value = createASpotMarker.getLngLat().lng;
    });

}

</script>
</body>
</html>