<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head lang="en">
    <title>Your profile</title>
</head>
<div th:replace="partials/bootstrap-header.html"></div>

<link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />
<body>
<nav th:replace="partials/basic-navbar.html :: basic-navbar"></nav>

<a href="/profile/edit">Edit Profile</a>

    <h2 class="indigo-text center">Personal info</h2>
<!--add more user text-->
    <div sec:authentication="name"></div>
    <div th:text="${user.email}"></div>
    <h2 class="indigo-text center">My Events</h2>


<div th:replace="partials/view-events.html"></div>

<h2 class="indigo-text center">My Spots</h2>


<div th:replace="partials/view-spots.html"></div>

<div th:replace="partials/bootstrap-footer.html"></div>


</body>
</html>