<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" media="all" href="/static/css/splash.css" rel="stylesheet"/></head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<body>

<div class="container">
    <div class="hero-unit overlay">
        <div class="header">
            <h4>Continue to Site</h4>
        </div>
        <p>
            Welcome to the IKnowASpot location search application!
            Get started quickly by signing in/up.
        </p>
        <p>
            <a href="/signin" th:href="@{/signin}" class="btn btn-large btn-success">Sign In</a>
            <br>
            <a href="/signup" th:href="@{/signup}" class="btn btn-large btn-success">Sign up</a>
        </p>
    </div>
</div>
</body>
</html>